/* Styles go here */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 400px

}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');
body { 
    padding-top: 10px; 
}

