<div class="container">
    <header>
        <h3>Upload Data</h3>
    </header>
    <div class="container">
        <h3>Select text file</h3>
        <input type="file" on-read-file="showContent($fileContent)" />
        <!-- <div ng-if="content">
            <h2>File content is:</h2>
            <pre>{{ content }}</pre>
        </div> -->
        <div style="padding:10px 0px 10px 0px">
            <div class="gridStyle" ng-grid="UDgridOptions"></div>
        </div>
    </div>
</div>
<div style="padding:10px 10px 10px 10px">

    <button ng-click="Fetch()">Show Data</button>
</div>
<!-- All about grid http://ui-grid.info/docs/#/tutorial/103_filtering
 new widget http://backgridjs.com/ -->